header {
    width: 100%;
    height: 20%;
    background-color: rgb(64, 141, 70);
}

.hdr {
    width: 20%;
    height: 50px;
    background-color: blue;
}

main {
    width: 100%;
    height: 60%;
    background-color: rgb(94, 195, 187);
}

.mn {
    width: 80%;
    height: 1000px;
    right: 100%;
    background-color: rgb(158, 144, 66);
}
.oleg {
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    margin-left: 300px;
}

#mymenu {
    position: absolute;
    width: 300px;
    height: 700px;
    display: block;
    /* background-color: rgb(237, 240, 62); */
    top: 10%;
    left: -10%;
    transition: all 1s ease-out;
}

#mymenu a {
    width: 100%;
    height: 33.3%;
    text-align: center;
    font-size: 40px;
    outline: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(59, 221, 81);
}

#mymenu:hover {
    position: absolute;
    top: 10%;
    left: 0%;
    transition: all 1s ease-out;
}

#Stuff {
    position: relative;
    display: block;
    width: 100%;
    height: 33.3%;
    background-color: #fff;
    border-radius: 5px 5px;
}

#Contact {
    position: relative;
    display: block;
    width: 100%;
    height: 33.3%;
    background-color: rgb(161, 161, 161);
    border-radius: 5px 5px;
}

#About {
    position: relative;
    display: block;
    width: 100%;
    height: 33.3%;
    background-color: rgb(65, 64, 64);
    border-radius: 5px 5px;
}

footer {
    width: 100%;
    height: 20%;
    background-color: rgb(23, 23, 63);
}

.ftr {
    width: 80%;
    height: 100px;
    right: 100%;
    background-color: rgb(190, 70, 174);
}